h1 {
	text-align: center
	}
p {
		text-align: center;
		color: black
	}
	
img {
	cursor: pointer;
	max-width: 50%
}

.navbar-default {
	
	
}

.btn-info {
	text-align: center;
	background-color: #5050d5;
	border: 0px solid black
}

.jumbotron{
    background-color:light-grey;
    text-align:center;
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding-bottom: 5px !important;
	border: 1px dashed black;
}