html, body {
    background-color: white;
		font-family: verdana;
		height: 98%;
}

#load {
  position: absolute;
  left: 45%;
  bottom: 5%;
  width: 10%;
  height: auto;
  z-index: 999999999999999;
}

.leaflet-fade-anim .leaflet-popup {
  transition: none;
}

#obr1 {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.leaflet-control-layers-toggle {
  background-image: url(../icons/layers.png) !important;
	background-color: #2da0e2;
}

.leaflet-touch .leaflet-control-layers-toggle {
background-image: url(../icons/layers.png) !important;
background-color: #2da0e2;
}

.leaflet-control-layers-expanded {
  color: white;
	background-color: #2da0e2;
}


.chart-legend {
  position: absolute;
  left: 86%;
  top: 86%;
  display: inline-block;
  height: 5%;
  font-size: 1em
}

#chartContainer
{
	position: absolute;
	top: 65%;
	height: 32%;
	width: 100%;
}

ul {
  list-style-type: none;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    z-index: 99999;
}

#opac
{	width: 190% !important;
	height: 10px;
	background-color: rgba(255,255,255,0) !important;
	z-index:9999;
	-webkit-transform:rotate(270deg) translate(0%, 0%); 
	-moz-transform:rotate(270deg); 
	-o-transform:rotate(270deg); 
	-ms-transform:rotate(270deg); 
	transform:rotate(270deg) translate(15px, -10px);
  margin-left: -20px !important;
}

.leaflet-control-scale-line{ 
    color: white;
	background-color: #2da0e2;
	border-top: none;
	border-left: none;
	border-right: none;
	text-align: center;
	border-bottom: 2px solid black;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;

}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
	background: #2da0e2 !important;
	color: white !important;
	border: 0px;
}

button:focus {
    outline: none;
}

#upd
{
	position: absolute;
	left: 75%;
	top: 123px;
	padding: 5px 5px;
	width: 32px;
	height: 32px;
	border-right: 2px solid #2da0e2;
	border-bottom: 2px solid #2da0e2;
}


.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: #2da0e2;
	color: white;
}

#choose {
	
	color: white;
	background-color: #2da0e2;
	padding: 5px 5px;
	width: 95%;
  border-width: 0px !important;
}


#stats
{	background-color: rgba(45,160,226,0.7);
    color: white;
    font-size: 1em;
	position: absolute;
	text-align: center;
	left: 26%;
	top: 3%;
	padding: 10px 10px;
	border-radius: 20px;
  z-index: 999999999;
}

#stats1
{	
  display: none;
  background-color: rgba(45,160,226,0.7);
    color: white;
    font-size: 1em;
	position: absolute;
	text-align: center;
	left: 26%;
	top: 3%;
	padding: 10px 10px;
	border-radius: 20px;
  z-index: 999999999;
}

.button {
  position: absolute;
  left: 85%;
  top: 60%;
    background-color: white;
    border: solid black 2px;
    color: black;
	padding: 5px 5px;
    text-align: center;
    text-decoration: none;
	border-radius: 100px;
	width: 28px;
	height: 28px;
	cursor: pointer;
  vertical-align: middle;
}

#hidebut {  
    background-color: #2da0e2;
    border-style: none;
    border-top-left-radius: 5px;
    margin-bottom: -10px;
    margin-right: -10px;
    color: white;
	padding: 5px 5px;
    text-align: center;
    text-decoration: none;
	width: 28px;
	height: 28px;
	cursor: pointer;
  vertical-align: middle;
}

#ttime
{
  position: absolute !important;
  top: calc(60% + 4px);
  margin-top: 0px !important;
	width:84%;
  vertical-align: top;
}

#map
{
	width: 85%;
	height: 60%;
	border: 2px solid #2da0e2;
}

.im
{
  max-width:100%;
  max-height:100%;
}

.tx {
  position: relative;
  bottom: 30%;
  font-size: 0.75em;
}

#legend
{
	position: absolute;
	left: calc(85% - 2px);
  height: 15%;
  width: 14%;
	top: 0%;
	padding: 5px 5px;
	margin-top: 8px;
	border-top: 2px solid #2da0e2;
	border-right: 2px solid #2da0e2;
	border-bottom: 2px solid #2da0e2;
}

#legend1
{
	position: absolute;
	left: calc(85% - 2px);
	top: calc(15% + 20px);
  height: 5%;
  width: 14%;
	padding: 5px 5px;
  border-top: 2px solid #2da0e2;
	border-right: 2px solid #2da0e2;
}

#legend2
{
	position: absolute;
	left: calc(85% - 2px);
  width: 14%;
	top: calc(20% + 32px);
  height: 5%;
	padding: 5px 5px;
	border-right: 2px solid #2da0e2;
}

#legend3
{
	position: absolute;
	left: calc(85% - 2px);
  width: 14%;
	top: calc(25% + 42px);
  height: 5%;
	padding: 5px 5px;
	border-right: 2px solid #2da0e2;
	border-bottom: 2px solid #2da0e2;
}

#zpoz
{
	position: absolute;
  font-size: 0.85em;
  background-color:#2da0e2;
  color: white;
	left: calc(85% - 2px);
  width: 14%;
	top: calc(30% + 50px);
  height: auto;
	padding: 5px 5px;
	border-right: 2px solid #2da0e2;
	border-bottom: 2px solid #2da0e2;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2DA0E2;
  border-radius: 50px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2DA0E2;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2DA0E2;
  border-radius: 50px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2DA0E2;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2DA0E2;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: #000000;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2DA0E2;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2DA0E2;
}


#pbut {
  padding: 0;
}