html, body {
	padding: 0px;
	margin: 0px;
	font-family: 'Arial', sans-serif;
}


#wel {
	height: 100%;
	width: 100%;
	text-align: center;
	letter-spacing: 15px;
	line-height: 350%;
	font-size: 5vh;
	color: grey;
	
}

#arrow {
	display: inline-block;
	transition: color 1s;
	cursor: pointer;
}

#arrow:hover {
	color: white;
}


#navd {
	width: 100%;
	padding-bottom: 10px;
	background-color: #36A2EB;
	position: fixed;
	top: 0px;
	left: 0px;	
	z-index: 999;
	transition: background-color 1s;
}

#navd:hover {
	background-color: #0b5282;

}

li {
	display: inline-block;
	margin-left: 20px;
	transition: border-bottom 0s;
}

li:hover {
	border-bottom: 1px solid white;
}

.navi {
	text-decoration: none;
	color: white;
}

h1 {
	
	text-align: center;
	color: white ;
	font-size: 18px ;
	background-color: #36A2EB;
	padding-bottom: 5px ;
	padding-top: 5px ;
	border-radius: 0px ;
	margin-top: 0px ;
	margin-bottom: 0px ;
	transition: background-color 0.5s;
	font-weight: normal;

	}
p {
		text-align: justify;
		color: black;
		padding-top: 1px ;
		padding-left: 10px ;
		padding-right: 10px ;
		font-size: 85% ;
		line-height: 130%;
		-webkit-margin-before: 0px;
		-webkit-margin-after: 0px;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		
}

.lead {
	height: 75px;
}
	
img {
	
	cursor: pointer;
	max-width: 100%;
	height: auto;
	padding-left: 1px ;
	padding-right: 1px ;
	border-radius: 0px ;
	opacity: 0.75;
	transition: opacity 1s;
}

.whole:-webkit-any-link {
	
    color: -webkit-link;
    text-decoration: none;
    cursor: auto;

}

.item{
	width: calc(33% - 60px);
	display: inline-block;
    background-color:white ;
    text-align:center;
	padding-left: 0px ;
	padding-right: 0px ;
	padding-bottom: 1px ;
	padding-top: 0px ;
	margin-top: 100px ;
	margin-bottom: 100px;
	margin-right: 30px;
	margin-left: 30px;
	-webkit-box-shadow: 0px 3px 22px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 3px 22px -5px rgba(0,0,0,1);
	box-shadow: 0px 3px 22px -5px rgba(0,0,0,1);
	-webkit-transition: box-shadow 0.5s, opacity 0.5s;
	transition: box-shadow 0.5s, opacity 0.5s;
	opacity: 1 ;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	vertical-align:top;
}

.item2 {
	background-color:white ;
}

.item:hover{
	
	-webkit-box-shadow: 0px 3px 30px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 3px 30px -5px rgba(0,0,0,1);
	box-shadow: 0px 3px 30px -5px rgba(0,0,0,1);
	opacity: 1 ;

}

.item:hover h1{
	background-color: #0b5282;

}

.item:hover img{
	opacity: 1;

}


#bg {
  position: fixed ;
  top: 0 ;
  left: 0 ; 
  cursor: default ;
  opacity: 1 ;
  min-width: 100% ;
  min-height: 100% ;
  background: url("../img/wall.jpg") no-repeat;
  z-index: -1;
}

footer {
	width: 100%;
	background-color: #36A2EB;
	color: white;
	text-align: center;
	padding: 10px 0px;
	margin-top: 35px;
	font-size: 80%
}