html, body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Arial', sans-serif;
}


#wel {
	display: none;
	height: 100%;
	width: 100%;
	text-align: center;
	letter-spacing: 15px;
	line-height: 350%;
	font-size: 5vh;
	color: grey;
	
}

#arrow {
	display: inline-block;
	transition: color 1s;
	cursor: pointer;
}


#arrow:hover {
	color: white;
}


#navd {
	width: 100%;
	height: 3em;
	background-color: #36A2EB;
	position: fixed;
	top: 0px;
	left: 0px;	
	transition: background-color 1s;
	z-index: 999;
}

#navd:hover {
	background-color: #0b5282;

}

li {
	display: inline-block;
	margin-left: 20px;
	transition: border-bottom 0s;
}

li:hover {
	border-bottom: 1px solid white;
}

.navi {
	text-decoration: none;
	color: white;
}

#hamb {
	color: white;
	display: none;
	margin-left: 5px;
	margin-top: -5px;
	border: 1px solid white;
	padding: 5px 5px;
	border-radius: 5px
}

h1 {
	
	text-align: center;
	color: white ;
	font-size: 18px ;
	background-color: #36A2EB;
	padding-bottom: 5px ;
	padding-top: 5px ;
	border-radius: 0px ;
	margin-top: 0px ;
	margin-bottom: 0px ;
	transition: background-color 0.5s;
	font-weight: normal;

	}
p {
		text-align: justify;
		color: black;
		padding-top: 1px ;
		padding-left: 10px ;
		padding-right: 10px ;
		font-size: 85% ;
		line-height: 130%;
		-webkit-margin-before: 0px;
		-webkit-margin-after: 0px;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		
}

.lead {
	height: 65px;
}



#bach {
	width: 100%;
	margin-top: 50px;
	background-color: #eee;
}

#bachchild {
	width: 66%;
	margin: 0 auto;
}

#bak {
	display: block;
	width: 100%;
	margin: 0 auto;
	cursor: pointer;
	padding-bottom: 10px;
	opacity: 1;
}

#bapa {
	text-align: justify;
}

h3 {
	margin-top: 20px;
	padding-top: 10px;
	text-align: center;
	font-weight: normal;
}
	
img {
	
	cursor: pointer;
	max-width: 100%;
	padding-left: 1px ;
	padding-right: 1px ;
	border-radius: 0px ;
	opacity: 0.75;
	transition: opacity 1s;
}

a {
	text-decoration: none;
	color: #36A2EB
}

.whole:-webkit-any-link {
	
    color: -webkit-link;
    text-decoration: none;
    cursor: auto;

}

.item{
	width: calc(33% - 60px);
	height: auto;
	display: inline-block;
    background-color:white ;
    text-align:center;
	padding-left: 0px ;
	padding-right: 0px ;
	padding-bottom: 1px ;
	padding-top: 0px ;
	margin-top: 60px ;
	margin-bottom: 0px;
	margin-right: 30px;
	margin-left: 30px;
	-webkit-box-shadow: 0px 3px 22px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 3px 22px -5px rgba(0,0,0,1);
	box-shadow: 0px 3px 22px -5px rgba(0,0,0,1);

	-webkit-transition: box-shadow 0.5s, opacity 0.5s;
	transition: box-shadow 0.5s, opacity 0.5s;
	opacity: 1 ;
	
}

.item2 {
	background-color:white ;
	
	
}

.item:hover{
	
	-webkit-box-shadow: 0px 3px 30px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 3px 30px -5px rgba(0,0,0,1);
	box-shadow: 0px 3px 30px -5px rgba(0,0,0,1);
	opacity: 1 ;

}

.item:hover h1{
	background-color: #0b5282;

}

.item:hover img{
	opacity: 1;

}


#bg {
  position: fixed ;
  top: 0 ;
  left: 0 ; 
  cursor: default ;
  opacity: 1 ;
  min-width: 100% ;
  min-height: 100% ;
  background: url("../img/wall.jpg") no-repeat;
  z-index: -1;
}

footer {
	width: 100%;
	background-color: #36A2EB;
	color: white;
	text-align: center;
	padding: 10px 0px;
	margin-top: 35px;
	font-size: 80%
}


/*
Time for some gloss and other fancy stuff.
*/

#compass {
	width: 100px; 
	height: 100px;
	border-radius: 50%;
	margin: 0px auto;
	position: relative;
	font-size: 100%;
	cursor: pointer;
	
	border: 10px solid #777;
	
	background: radial-gradient(
		ellipse cover,
		white,
		#A3E2FC
	);
	
	box-shadow:
		0 0 4px #000,
		0 0 1px 8px #ccc,
		5px 10px 15px #48436f;
	
	transition: transform 0.5s ease;
}

/* A bit of animation on hover would be nice too! */
#compass:hover {
	transform: skewX(-5deg) skewY(-2deg);
}

#compass:before {
	content: '';
	
	border: 2px dashed #444;
	position: absolute;
	left: 10px; right: 10px;
	bottom: 10px; top: 10px;
	
	border-radius: 50%;
}

#compass:after {
	content: '';
	
	position: absolute;
	left: -10px; right: -10px;
	bottom: -10px; top: -10px;
	
	border-radius: 50%;
}


/* neat! lets position the directions now - N E S W */

#compass span {
	position: absolute;
	font-weight: bold;
}

/* North */
#compass span:nth-child(1) {
	left: 95px; top: 20px;
}
/* South */
#compass span:nth-child(3) {
	left: 95px; bottom: 20px;
}

/* East */
#compass span:nth-child(2) {
	right: 25px; top: 90px;
}
/* West */
#compass span:nth-child(4) {
	left: 25px; top: 90px;
}


/* Next up, is the pointer */

/* A bit of CSS3 animations on the pointer would be nice */
@keyframes rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#pointer {
	width: 30px; height: 15px;
	
	/* Centering it */
	position: relative;
	left: 50%; top: 50%;
	margin-left: -15px; margin-top: -7px;
	
	/*background: black;*/
	animation: rotate 5s cubic-bezier(1,.2,.5,1) infinite alternate;
}

/* Now the trick i wanna use to create a diamond
shaped pointer is to skew the #pointer

But for some reason that did'nt work hence I did it
on #pointer:before */

#pointer:before {
	content: '';
	
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	
	background: linear-gradient(
		-63deg,
		rgba(79,188,242,1) 1%,
		rgba(26,110,206,1) 50%,
		rgba(216,216,216,1) 51%,
		rgba(244,94,80,1) 53%,
		rgba(255,45,45,1) 100%
	);
	
	transform: skewX(60deg);
}

/* Looks good, lets make the pointer's joint now */

#pointer:after {
	content: '';
	
	width: 10px; height: 10px;
	background: #4781c0;
	border-radius: 50%;
	box-shadow:
		inset 0 0 4px 2px #4d4d4d,
		0 0 5px 1px white;
	
	/* centering it */
	position: absolute;
	left: 50%; top: 50%;
	margin-left: -5px; margin-top: -5px;
}
