html, body {
	   height: 100%;
	   width: 100%;
	   font-family: verdana;
	}
	
#mapid{ 
			height: 98%; 
			width: 75%;
			border: 2px solid #36A2EB;
		
	}
	

	
.leaflet-control-scale-line{ 
    color: white;
	background-color: #2da0e2;
	border-top: none;
	border-left: none;
	border-right: none;
	text-align: center;
	border-bottom: 2px solid white;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;

}

.button1:focus {
    outline: none;
}

.button1 {
	position: absolute;
	left: 96%;
	top: 95%;
	height: 4%; 
	width:3%;
    background-color: #2da0e2;
	border: 2px solid black;
	border-radius: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
	font-size: 1vw;
	cursor: pointer;
	z-index:1001;
}

#chartContainer
{
	position: absolute;
	left: 77%;
	top: 25%;
	height: 20%; 
	width:22%;
	z-index:1000;
}	

#chartContainer1
{
	position: absolute;
	left: 77%;
	top: 50%;
	height: 20%; 
	width:22%;
	z-index:1000;
}	

#chartContainer2
{
	position: absolute;
	left: 77%;
	top: 75%;
	height: 20%; 
	width:22%;
	z-index:1000;
}	
	
#pruh
{	
	position: absolute;
	left: 79%;
	top: 22%;
	width: 20%;
	height: 2%;
	padding: 1px 1px;
	font-size: 1vw;
	font-weight: bold;
}

#pruh1
{	
	position: absolute;
	left: 79%;
	top: 2%;
	width: 20%;
	height: 2%;
	padding: 1px 1px;
	font-size: 1vw;
	font-weight: bold;
}
	
#opac
{	
	position: absolute;
	left: 79%;
	top: 25%;
	padding: 1px 1px;
	width:15%;
	z-index:1001;
}

#leg
{
	position: absolute;
	left: 79%;
	top: 10%;
	height: 10%;
	width: 18%
}
#legend
{	
	width: 100%;
    height: 100%;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2DA0E2;
  border-radius: 50px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2DA0E2;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2DA0E2;
  border-radius: 50px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2DA0E2;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2DA0E2;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: #000000;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2DA0E2;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2DA0E2;
}

@media (orientation: portrait) {
  #mapid {
	width: 60%;
  }
  .button1 {
	position: absolute;
	left: 90%;
	top: 95%;
}
#chartContainer2
{
	position: absolute;
	left: 65%;
	top: 75%;
	height: 20%; 
	width:34%;
	z-index:1000;
}
#chartContainer
{
	position: absolute;
	left: 65%;
	top: 25%;
	height: 20%; 
	width:34%;
	z-index:1000;
}	

#chartContainer1
{
	position: absolute;
	left: 65%;
	top: 50%;
	height: 20%; 
	width:34%;
	z-index:1000;
}		

#pruh
{	
	position: absolute;
	left: 65%;
	top: 22%;
	width: 34%;
	height: 2%;
	padding: 1px 1px;
	font-size: 2vw;
	font-weight: bold;
}

#pruh1
{	
	position: absolute;
	left: 65%;
	top: 2%;
	width: 34%;
	height: 2%;
	padding: 1px 1px;
	font-size: 2vw;
	font-weight: bold;
}
#opac
{	
	position: absolute;
	left: 65%;
	top: 25%;
	padding: 1px 1px;
	width:25%;
	z-index:1001;
}
#leg
{
	position: absolute;
	left: 65%;
	top: 7%;
	height: 14%;
	width: 34%
}

.button1 {
	font-size: 2vw;
}
}